@import '/src/Fonts/fonts';
@import '/src/Style Assets/variables';

* {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Gordita';
  font-weight: lighter;
}
html{
  scroll-behavior: smooth;
}
p{
  color: $gray;
}
