
// Colors ----------------
$lightOrange : #F3E4DE;
$rose : #E45F83;
$violet : #9D5BFF;
$blue : #6BCDF7;

// Font Color ---------------
$black : #000000;
$gray : #888398;

// Spotlight --------------------

$gary : #F8F8FA;

